@import url('../root.css');
.main-footer {
    background-color: var(--primary-dark); 
    color: #cbd5e1;
    padding: 30px 0;
}

.footer-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
}

.brand-name {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--info-light);
    letter-spacing: -0.025em;
}

.brand-description {
    font-size: 0.875rem;
    color: var(--info-light);
    line-height: 1.625;
    margin-bottom: 1.5rem;
}

.footer-title {
    color: var(--primary-light);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.footer-links-list, .contact-list, .schedule-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
}

.footer-link:hover {
    color: var(--warning);
}

.schedule-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.schedule-item.border-bottom {
    border-bottom: 1px solid var(--primary);
}

.schedule-time {
    color: #ffffff;
    font-weight: 500;
}

.schedule-item.day-off {
    color: var(--warning);
}
.footer-bottom {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid var(--primary);
    font-size: 0.875rem;
    color: var(--primary-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}